<html>
    <head>
        <title>Amy's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Amy's Blog</a></h1>
        </div>

        <div>
            <p>published: 11.07.2015, 4:30</p>
            <h2><a href="">My first post</a></h2>
            <p>Emily Willey is <em>so</em> silly!</p>
        </div>

        <div>
            <p>published: 11.07.2015, 4:45</p>
            <h2><a href="">My second post</a></h2>
            <p>But seriously, <strong>how did Emily get to be <em>so</em> silly?!</strong></p>
            <p>published: 11.07.2015, 5:00</p>
        </div>
    </body>
</html>
